/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        
        diode-direction = "col2row";
        
        row-gpios
            = <&gpio0 2  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   // Row 0 - D1
            , <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   // Row 1 - D0
            ;
        
        col-gpios
            = <&gpio0 28 GPIO_ACTIVE_HIGH>  // Col 0 - D3
            , <&gpio1 13 GPIO_ACTIVE_HIGH>  // Col 1 - D4
            , <&gpio1 15 GPIO_ACTIVE_HIGH>  // Col 2 - D5
            , <&gpio0 5  GPIO_ACTIVE_HIGH>  // Col 3 - D6
            , <&gpio0 30 GPIO_ACTIVE_HIGH>  // Col 4 - D7
            ;
    };

    encoder: encoder_0 {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;   // D8
        b-gpios = <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;   // D9
        steps = <80>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
        triggers-per-rotation = <20>;
    };
};
